.loading {
    position: relative;
  }
  
  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  
  .spinner i {
    position: absolute;
    width: 3px;
    height: 8px;
    border-radius: 2px;
    background: black;
  }
  
  @keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);} 
  }